.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
}

.filter-field {
    width: 100%;
    font-size: 14px;
}

::ng-deep {
    .winner-select-panel {
        margin-top: 4px !important;
        min-width: unset !important;
        position: fixed !important;

        &.mat-mdc-select-panel {
            width: var(--select-width) !important;
        }
    }
    .mat-mdc-header-cell {
        position: relative;
        z-index: 1;
    }

    .mat-mdc-form-field {
        position: relative;
        z-index: 2;
    }

    .cdk-overlay-container {
        z-index: 1000;
    }

    .mat-mdc-form-field-wrapper {
        padding: 0;
        margin: 0;
    }

    .mat-mdc-text-field-wrapper {
        background-color: white;
    }

    .mat-mdc-form-field-infix {
        padding: 8px 0;
    }
}